$darkColor: #1f2728;
$darkRedColor: #a0312e;
$ligterDarkColor: #f08431;
$lightTextColor: #656869;
$red: #dd2b37;
$darkBlue: #498b96;
$lightBlue: #65a7b3;
$grey: #dbdbdb;
$lightGrey: #a9acac;
$linkColor: #a0312e;



$break-xs: 320px;
$break-sm: 480px;
$break-md-minus: 767px;
$break-md: 768px;
$break-ld-minus: 991px;
$break-ld: 992px;
$break-lg-minus: 1199px;
$break-lg: 1200px;